<div class="contenedor">

  <h1 class="titulo">Sistema de Gestión de Tesis</h1>

  <div class="menu-inicio">

    <% if session[:rol] == "alumno" %>

      <% unless session[:tiene_tesis] %>
        <%= link_to "Agregar Tesis", new_nombre_path, class: "btn" %>
      <% end %>

      <%= link_to "Revisar Tesis", revisar_nombres_path, class: "btn" %>

    <% elsif session[:rol] == "asesor" %>

      <%= link_to "Buscar Tesis", buscar_nombres_path, class: "btn" %>
      <%= link_to "Ver listado de Tesis", nombres_path, class: "btn" %>
      <%= link_to "Historial de cambios", historial_path, class: "btn" %>

    <% else %>

      <%= link_to "Agregar Tesis", new_nombre_path, class: "btn" %>
      <%= link_to "Buscar Tesis", buscar_nombres_path, class: "btn" %>
      <%= link_to "Ver listado de Tesis", nombres_path, class: "btn" %>
      <%= link_to "Historial de cambios", historial_path, class: "btn" %>

    <% end %>

  </div>

</div>