<%= form_with(model: nombre, local: true, html: { novalidate: true }) do |form| %>

  <div>
    <%= form.label :titulo, "T챠tulo" %>
    <%= form.text_field :titulo %>
  </div>

  <div>
    <%= form.label :descripcion, "Descripci처n" %>
    <%= form.textarea :descripcion %>
  </div>

  <hr>

  <h3>Integrantes</h3>

  <div id="integrantes">
    <%= form.fields_for :integrantes do |i| %>
      <div class="integrante">
        <div class="campo">
          <label>Nombre:</label>
          <%= i.text_field :nombre,
              pattern: "[A-Za-z찼챕챠처첬횁횋횒횙횣챰횗 ]+",
              oninvalid: "this.setCustomValidity('El nombre no puede contener numeros')",
              oninput: "this.setCustomValidity('')",
              required: true %>
        </div>

        <div class="campo">
          <label>Matr챠cula:</label>
          <%= i.text_field :matricula,
              class: "sin-flechas",
              inputmode: "numeric",
              pattern: "[0-9]+",
              oninvalid: "this.setCustomValidity('La matr챠cula solo puede contener n첬meros')",
              oninput: "this.setCustomValidity('')",
              required: true %>
        </div>
      </div>
    <% end %>
  </div>

  <button type="button" onclick="agregarIntegrante()">Agregar integrante</button>

  <hr>

  <h3>Asesores</h3>

  <div id="asesores">
    <%= form.fields_for :asesores do |a| %>
      <div class="asesor">
        <div class="campo">
          <label>Nombre:</label>
          <%= a.text_field :nombre,
              pattern: "[A-Za-z찼챕챠처첬횁횋횒횙횣챰횗 ]+",
              oninvalid: "this.setCustomValidity('El nombre no puede contener numeros')",
              oninput: "this.setCustomValidity('')",
              required: true %>
        </div>
      </div>
    <% end %>
  </div>

  <button type="button" onclick="agregarAsesor()">Agregar asesor</button>

  <hr>

  <div>
    <%= form.label :documento, "Subir documento" %>
    <%= form.file_field :documento %>
  </div>

  <br>

  <%= form.submit "Guardar Tesis" %>

<% end %>

<script>
function agregarIntegrante() {
  const container = document.getElementById("integrantes");
  const index = container.querySelectorAll(".integrante").length;

  const html = `
    <div class="integrante">
      <div class="campo">
        <label>Nombre:</label>
        <input type="text"
          pattern="[A-Za-z찼챕챠처첬횁횋횒횙횣챰횗 ]+"
          oninvalid="this.setCustomValidity('El nombre no puede contener numeros')"
          oninput="this.setCustomValidity('')"
          required
          name="nombre[integrantes_attributes][${index}][nombre]">
      </div>

      <div class="campo">
        <label>Matr챠cula:</label>
        <input type="text"
          inputmode="numeric"
          pattern="[0-9]+"
          oninvalid="this.setCustomValidity('La matr챠cula solo puede contener n첬meros')"
          oninput="this.setCustomValidity('')"
          required
          name="nombre[integrantes_attributes][${index}][matricula]">
      </div>
    </div>
  `;

  container.insertAdjacentHTML("beforeend", html);
}

function agregarAsesor() {
  const container = document.getElementById("asesores");
  const index = container.querySelectorAll(".asesor").length;

  const html = `
    <div class="asesor">
      <div class="campo">
        <label>Nombre:</label>
        <input type="text"
          pattern="[A-Za-z찼챕챠처첬횁횋횒횙횣챰횗 ]+"
          oninvalid="this.setCustomValidity('El nombre no puede contener numeros')"
          oninput="this.setCustomValidity('')"
          required
          name="nombre[asesores_attributes][${index}][nombre]">
      </div>
    </div>
  `;

  container.insertAdjacentHTML("beforeend", html);
}
</script>